body {
    font-family: Arial, sans-serif;
}

header {
    background-color:#A55EEA ;
    color: #0000FF ;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
.body{
    background-color:#0000FF ;
}

#contacto {
    background-color: #f7f7f7;
    padding: 1em;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formulario-contacto {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 00.5em;
}

input, textarea {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;A
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #444;
}
.badge{
    padding: 4px;
    border-radius: 8px;
    background-color: #00ffff;
    color: black;
    font-weight: 700;
    transition: box-shadow 0.25, filter 0.25;

    &:hover{
        box-shadow: 0 2px 4px 0 #00ffff;
        filter: brightness(1.25);
    }
    }
    .link{
        color: white;
        font-weight: 700;
        transition: color 0.25;

        &:hover{
        color: black;        
        }
    
    }
